{% extends "base.html" %}

<html>
{% block mantap %}


          <div class ="container">
            <div class = "row">

              <div class="col-sm-6">
                {% load static %}
                <img id="fotoku" src="{% static '2.jpg' %}"  class="img-responsive">
                </div>

                <div class="col-sm-6">
                  <h1> Hello, Nama saya Sendi Siradj </h1>
                  <h2> Currently I am studying web programming using Django </h2>


                </div>
                </div>
                </div>







{% endblock %}









  </html>
