<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <title>How To Make A Website</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" type ="text/css" href="{% static "style.css" %}">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>

  <header class="header">
      {% load static %}
  {% include "header.html" %}

  {% block mantap %}
  {% endblock %}
  </header>






  </body>



</html>
