{% extends "base.html" %}
{% load staticfiles %}

<body>

  {% block mantap %}
  {% load static %}
  <div class = gambar-besar>


      <div class="Big-Title">
        <h1>Think Creative</h1>
      </div>
      <div class="SubTitle">
        <h2>There is always something new to be learned</h2>
        <a class="btn btn-first" href="{% url 'aktivitassaya' %}">Aktivitas Saya</a>
    </div>
</div>


{% endblock  %}
</body>
