body {
  background-color: #f2f1e6;
}

*{
margin : 0;
padding : 0;
}
.header {
  height: 100vh;
}
.navbar-style{
  box-shadow:0 2px 50px #efefef;
  text-transform: uppercase;
}

.logo
{
  height : 20px;
  padding : 2px;
  margin-top: 15px;
}

li a
{
  color: grey;
}
.gambar-besar{
  height:100%;
   width:100%;
   background-image:url("hero_2.4b238971d67c.4b238971d67c.jpg");/*your background image*/
   background-repeat:no-repeat;/*we want to have one single image not a repeated one*/
   background-size:cover;/*this sets the image to fullscreen covering the whole screen*/
   /*css hack for ie*/
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='hero_2.jpg',sizingMethod='scale');
   -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='hero_2.jpg',sizingMethod='scale')";
}

.Big-Title {
  position : absolute;
  top : 250px;
  right : 250px;
}

.Big-Title h1 {
  font-style: oblique;
  font-size: 72px;

}

.SubTitle{
  position: absolute;
  top : 330px;
  right: 220px;
}

.SubTitle h2 {


}

a.btn
{
  margin : 30px 130px;
  width: 150px;
  padding: 10px;
  border-radius: 20px;
}

a.btn-first
{
  background-color: #4a4f4f;
  color: #fff;
}

a.btn:hover
{
  background: darkgrey;
  border: none;
  color: #fff;
  box-shadow: 5px 5px 10px #999;
  transition: 0.3s;
}

#fotoku {
  height: 400px;
  width: 400px;
  position : static;
  top : 200px;
  left : 200px;
    }

.Title1 {
  font-weight: bold;

}

#xlfljpg {
  height : 50%;
  width : 45%;
  position: static;
  align-items: center;
}

.activity{
  align-items: center;
  text-align: center;

}
